<h1>Home Page</h1>
<h1>Create a new post:</h1>
<form action="/posting" method="POST">
	<p>
		<label for="message">message</label>
		<input type="text" name="message"><br/>
	</p>
	<input type="submit" value="post">
</form>


