<!DOCTYPE html>
<html>
	<head>
		<title>They Said What!?</title>
		<link rel="stylesheet" type="text/css" href="main.css">
		<link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<header>
			<nav>
				 <% if current_user %> 
					<span>Hello, <%= current_user.user_name %>!</span>
					<a href="/">Home</a>
					<a href="/profile/account">Settings</a>
					<a href="/profile">Profile</a>
					<a href="/logout">logout</a>
					<% else %>
					<a href="/signup">Sign Up</a>
				<% end %>
			</nav>
			<div class="break"></div>
		</header>
		<header class="main-title">They Said What!?</header>
		<%= yield %>
	</body>
</html>