<!DOCTYPE html>
<html>
	<head>
		<title>They Said What!?</title>
		<link rel="stylesheet" type="text/css" href="main.css">
		<link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<header>
			<nav>
				<ul>
				 <% if current_user %> 
					<li><span>Hello, <%= current_user.user_name %>!</span></li>
					<li><a href="/">Home</a></li>
					<li><a href="/profile/account">Settings</a></li>
					<li><a href="/profile">Profile</a></li>
					<li><a href="/logout">Logout</a></li>
					<% else %>

					<li><a href="/login">Log in</a></li>

					<a href="/signup">Sign Up</a>

				<% end %>
					</ul>
			</nav>
			<div class="break"></div>
		</header>
		<header class="main-title">They Said What!?</header>
		<%= yield %>
	</body>
</html>