<!DOCTYPE html>
<html>
	<head>
		<title>They Said What!?</title>
	</head>
	<body>
		<header>
			<nav>
				 <% if current_user %> 
					<span>Hello <%= current_user.user_name %></span>
					<a href="/">Home</a>
					<a href="/profile/account">Settings</a>
					<a href="/profile">Profile</a>
					<a href="/logout">logout</a>
					<% else %>
					<a href="/login">Log in</a>
				<% end %>
			</nav>
		</header>
		<h1>They Said What!?</h1>
		<%= yield %>
	</body>
</html>