<div class="feed-container">
		<p class="feed-header"><%= @user.user_name %>'s Recent Stories</p>
		
		<div class="feed-body">
				<% @post.each do |p| %>
				<p class="feed-body-text"><%= p.body %></p>
			<% end %>
		</div>
	</div>
