	<p class="site-desc">"Did you just wait on the rudest table of your life? That lady just snapped her fingers to get your attention? Do you wish that you actually did have 8 arms!? You're in the right place, a safe place where you can vent anonymously with other Service Industry people!"</p>
	
	<div class="feed-container">
		<p class="feed-header">Sign Up!</p>
		
		<div class="feed-body">
			<form action"/signup" method="POST">
			<p>
			<label for="email">Email</label>
			<input type="email" name="[user]email" placeholder="email" required>
			</p>
			<p>
			<label for="user_name">Username</label>
			<input type="text" name="[user]user_name" placeholder="Username" required>
			</p>
			<p>
			<label for="password">Password</label>
			<input type="password" name="[user]password" placeholder="Password" required>
			<input type="submit" value="Sign Up!">
			</p>
			</form>
		</div>
	</div>